# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
env/
venv/
.venv/

# Django
db.sqlite3
/staticfiles/

# Node
node_modules/
/build/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.swp
*.ctl
gunicorn.ctl
